services:
  web:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: 'http://78.40.217.41:8000/api/v1/'
    image: shance-frontend:prod
